<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Extensions.Logging" />
	</extensions>

	<targets>
		<target xsi:type="File" name="logfile" fileName="Logs/logfile.txt"
                layout="${longdate}|${level:uppercase=true}|${message}${exception:format=toString,Data:maxInnerExceptionLevel=10:innerFormat=|---|:innerExceptionSeparator=|---|}" />
		<target xsi:type="Console" name="console"
                layout="${level:uppercase=true}|${message}${exception:format=toString,Data:maxInnerExceptionLevel=10:innerFormat=|---|:innerExceptionSeparator=|---|}" />
	</targets>

	<rules>
		<!-- Set logging level to Warning for EF Core categories to reduce verbosity -->
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Trace" final="true"/>
		<logger name="*" minlevel="Info" writeTo="logfile,console" />
	</rules>
</nlog>
